registry=https://registry.npmjs.org
@buuhvprojects:registry=https://npm.pkg.github.com
_authToken=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
//npm.pkg.github.com/:_authToken=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